#formContainer {
  margin-top: 15%;
  margin-bottom: 15%;

  width: 1200px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-around;

  background-color: #DEE1E6;

  border-radius: 15px;
}

.formBox {
  margin: 3%;
  padding: 0.75%;

  width: 275px; 
  height: 400px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;

  background: #FFFFFF; /* white */
  border-radius: 8px;

  box-shadow: 0px 4px 9px #001c31, 0px 0px 2px #001c31;

  transition: 0.5s ease-out;
}

.formBox:hover {
  transform: scale(1.1);
}

.formBox img {
  margin-top: 0%;
  margin-bottom: 2.5%;

  width: 275px;
  height: auto;

  border-radius: 8px;
}

.formBox button  {
  padding: 2px 20px; 

  display: flex; 
  align-items: center; 
  justify-content: center; 

  font-family: Inter; 
  font-size: 18px; 
  font-weight: 400; 
  line-height: 28px;

  color: #FFFFFF;
  background-color: #0C3C61;

  opacity: 1; 
  border: none; 
  border-radius: 8px;
  transition: 0.5s ease-out;
}

.formBox button:hover {
  transform: scale(1.1);
  cursor: pointer;
}