#homePageContent1{
    position: initial;
    margin-top: 200px;

    width: 1250px;
    
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    /* background-color: grey; */
}

.introContent{

    text-align: center;

    color: #001c31;

    background-color:transparent;
	-webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); /* For most other browsers */
	
    /* border: 2px solid #001c31; */
    /* border-radius: 25px; */

    /* background-color: black; */
}

.introContent h1{
    font-family: "Trirong", serif;
    font-size: 3em;
    font-weight: bold;
}

.introContent p{
    font-family: "Trirong", serif;
    font-size: 1.25em;

    margin: 50px;

    text-align: justify;
}


/* CSS for  predictDisoderContent*/
#predictDisoderContent{
    color: #001c31;
}



/* Designing the text for the heading */

#blogContentTopic{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    color: #001c31;
    font-size: 50px;
}


#blogContent{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    gap: 100px;

    /* background-color: #d6d6e7; */
    text-align: center;
}


/* CSS to create boxes to align next to each other */
.contentBox{
    height: 450px;
    width: 300px;

    background-color: #d9d9d9;

    border: 2px solid;
    border-radius: 5px;
    border-color: #001c31;

    cursor: pointer;
    transition: all 0.4s;
}

.contentBox:hover{
    transform:scale(1.10);
}

.contentBox p{
    color: #001c31;
}

