button {
    display: flex; 
    align-items: center; 
    justify-content: center; 

    font-family: Inter;
    font-weight: 400;

    color: #0C3C61;
    border-color: #0C3C61;

    opacity: 1; 
    border: 2px solid; 
    border-radius: 8px;
}

button:hover {
    color: #FFFFFF;
    background-color: #0C3C61;
}

#questionBoxDiv{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 250px;
    width: 600px;

    border-radius: 25px;
    border: 2px solid #0C3C61;

    background-color: #e0e0e0;
}

/* Aligning the startButtonDiv on the center of questionBoxDiv */
#startButtonDiv{
    position: absolute;

    display: flex;

    align-items: center;
    justify-content: center;

    height: 100px;
    width: 200px;
}

#startButton{
    padding: 6px 15px;

    font-size: 24px;
}

#questionsDivContent{
    position: absolute;  
    
    height: 200px;
    width: 400px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    /* background-color: rgb(255, 0, 0); */
}

#question{
    font-size: 16px;
    color: #0C3C61;
}


#answer {
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 10px;
}

#answer input[type="radio"] {
    display: none; /* Hiding the dots */
}

#answer label {
    display: inline-block;

    width: 30px;
    height: 30px;
    
    border: 2px solid #0C3C61;
    border-radius: 50%;
    
    background-color: #e0e0e0;
    color: #0C3C61;
    
    text-align: center;
    
    line-height: 30px;
    
    font-size: 16px;
    cursor: pointer;
}

#answer input[type="radio"]:checked + label {
    background-color: #0C3C61;
    color: #e0e0e0;
}


#questionNavButtonDiv {
    margin-top: 5%;

    width: 300px;

    display: flex;

    align-items: center;
    justify-content: space-around;

    /* background-color: bisque; */
}

#questionNavButtonDiv Button{
    font-size: 18px;
    
    padding: 8px 10px;
}

#answerBox {
    color: black;
}