/* You can add global styles to this file, and also import other style files */

body{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    overflow-x: hidden; /* Hide horizontal scrollbar */

    background-color: #eae0d3;
    background-image: url("./assets/HomePage.jpg");
        
    width: 100%;
    min-height: 100vh;

    background-size: cover;
    background-position: center;
	background-attachment: fixed;
}

::-webkit-scrollbar {
    display: none;
}

html{
    scroll-behavior: smooth;
}