body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2e7e5; /* Bright blue background */
    font-family: Arial, sans-serif;
}
#exercise {
    font-size: 3em;
    color: #14205a; /* Red color for the exercise text */
    text-align: center;
    position: absolute;
    top: 27%; /* Adjust this value to move the text up or down */
    left: 14.5%; /* Adjust this value to move the text left or right */
}
.right {
float: right; /* Aligns the GIF to the right */
}
#timer {
    font-size: 3em;
    color: #14205a; /* Red color for the timer text */
    border: 10px solid #9db5f3; /* Red border around the timer */
    border-radius: 50%; /* Makes the border circular */
    padding: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start, #restart {
    padding: 12px 50px; 
    margin: 1%;

    display: flex; 
    align-items: center; 
    justify-content: center; 

    font-family: Inter; 
    font-size: 18px; 
    font-weight: 400; 
    line-height: 28px;

    color: #FFFFFF; /* white */
    background-color: #274B54; 

    opacity: 1; 
    border: none; 
    border-radius: 8px;
    transition: 0.5s ease-out;
}

#start:hover, #restart:hover,#done:hover {
transform: scale(1.1);
    cursor: pointer;
}

#progress {
width: 2%;
background-color: #9db5f3;
height: 20px;
position: absolute;
bottom: 0;
border-radius: 10px;
}
#done {
    display: none;
    /* Add any additional styles for the done button here */
    padding: 12px 50px; 

    align-items: center; 
    justify-content: center; 

    font-family: Inter; 
    font-size: 18px; 
    font-weight: 400; 
    line-height: 28px;

    color: #FFFFFF; /* white */
    background-color: #274B54; 

    opacity: 1; 
    border: none; 
    border-radius: 8px;
    transition: 0.5s ease-out;
}
#message {
    display: none;
    font-size: 2.5em;
    color: #14205a;
    /* Add any additional styles for the message here */
}